@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@100&family=Poppins&family=Tilt+Prism&display=swap');



:root {
  --text: #1C1C1C;
  --main-background: #FAFAFF;
  --secondary: #EEF0F2;
  --detail-one: #ECEBE4;
  --detail-two: #DADDD8;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  box-shadow:  4px 4px 8px rgba(0,0,0,0.4);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}


body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Big Shoulders Display', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Tilt Prism', cursive;
}

.nav-not-logged{
  display: flex;
  gap: 1rem;
}

.nav-not-logged li{
  list-style: none;
 
}

.nav-not-logged li:visited{
  text-decoration: none;
}

.image-bg{
  max-width: 50rem;
  min-width: 25rem;
}

.image-bg img{
  width: 100%
}

.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
 
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow:  4px 4px 8px rgba(0,0,0,0.4);
  background-color: var(--detail-two);
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: var(--text);
}

a.store-link{
  background-color: var(--secondary);
  font-size: 2em;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

#footer{
  display: flex;
  padding: 2rem;
  bottom: 0;
  background-color: var(--detail-one);
 
}

category-container{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.categories{
  display: flex;
  gap: 1rem;  
}

.main-container{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.product-list{
display: flex;
justify-content: center;
align-items: center;
padding: 2rem;
}



.product-grid{
  width: 50rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
  grid-gap: 20px; 
}

img {
  max-width: 100%;
}

.card{
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}


@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr; /* Switch to a single column at max-width 768px */
  }
}




